.theme-toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.theme-toggler .switch-to {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-right: 16px;
}

