:root {
  --body-background: #F6F8FF;
  --text-primary: #2B3442;
  --text-secondary: #4B6A9B;
}

:root[data-theme="dark"] {
  --body-background: #141D2F;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #141D2F;
    --text-primary: #FFFFFF;
    --text-secondary: #FFFFFF;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  color: var(--text-secondary);
}
