:root {
  --color-white: #FFFFFF;
  --color-white-light: #F6F8FF;
  --color-white-lighter: #FEFEFE;
  --color-blue: #0079FF;
  --color-black: #141D2F;
  --color-black-light: #2B3442;
  --color-black-lighter: #1E2A47;
  --color-grey: #4B6A9B;
  --body-background: var(--color-white-light);
  --card-background: var(--color-white-lighter);
  --text-primary: var(--color-black-light);
  --text-secondary: var(--color-grey);
}

:root[data-theme="dark"] {
  --body-background: var(--color-black);
  --card-background: var(--color-black-lighter);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  color: var(--text-secondary);
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
